<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soukou.mapper.OperateLogMapper">


    <select id="list" resultType="com.soukou.pojo.OperateLog">
        select o.*,e.name operateEmpName from operate_log o left join emp e on o.operate_emp_id = e.id
    </select>
</mapper>